body {
    background-color: #000000;
    text-color:
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

.canvas {
    display: inline-block;
}

.controls {
    display: inline-block;

}

.column {
    display: table-cell;
    vertical-align: top;
}

.colorCol {
    display: table-cell;
}

.newShape {
    border-radius: 25px;
    background: #FFCCCC;
    padding: 20px;
    margin: 20px;
    width: 220px;
    height: 150px;
}

.sliders {
    vertical-align: bottom;


}

.DEBUG{
  /*background-color: gray;*/
  -webkit-box-shadow:inset 0px 0px 0px 5px #f00;
  -moz-box-shadow:inset 0px 0px 0px 5px #f00;
  box-shadow:inset 0px 0px 0px 5px #f00;
}
